header{
    background-color: pink;
}

main{
    background-color: rgb(244, 78, 111);
}

aside {
    background-color: rgb(255, 162, 229);
}

footer {
    background-color: deeppink;
}

#mp1 {
    display: grid;
    grid-template-columns: 6fr 1fr;
}

#mp2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 200px;
}

#mp3 {
    display: grid;
    grid-template-columns: 5fr 1fr;
}

#mp3 Header {
    grid-column: 1/ -1;
}

#mp3 Footer {
    grid-column: 1/-1;
}

#mp4 {
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-areas:
                        "h h"
                        "m a"
                        "f f";
    gap: 10px;                    
}

#mp4 header {
    grid-area: h;
}
#mp4 main {
    grid-area: m;
}
#mp4 aside {
    grid-area: a;
}
#mp4 footer {
    grid-area: f;
}