header {
    border: 5px solid black;
    margin-top: 1em;
}

#header1 img {
    float:right;
}

.clearfix::after{
    content: "";
    clear:both;
    display: table;
}

#header2 img {
    float: left;
}

.azul {
    background-color: blue;
}

.rosa {
    background-color: pink;
}

.morado {
    background-color: purple;
}

.rojo {
    background-color: red;
}

.amarillo {
    background-color: yellow;
}

.naranja {
    background-color: orange;
}


#header3 article {
    float: left;
    width: 16.666%;
}

#header4 {
    display: flex;
}

#header5 {
    display: flex;
/*flex-direction: column;*/
    flex-direction: column-reverse;
}