header {
    background-color: pink;
}


main {
    background-color: yellow;
}

aside {
    background-color: purple;
}

footer {
    background-color: limegreen;
}

#mp1 {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

#mp2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 200px;
}

#mp3 {
    display: grid;
    grid-template-columns: 5fr 1fr;

}

#mp3 header{
    grid-column: 1 / -1;
}

#mp3 footer{
    grid-column: 1 / -1;
}

#mp4 {
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-areas:    "h h"
                            "m a"
                            "f f";
    gap: 10px;
}

#mp4 header{
    grid-area: h;
}

#mp4 main{
    grid-area: m;
}

#mp4 aside{
    grid-area: a;
}

#mp4 footer{
    grid-area: f;
}


/* Paginca codepen */

#headerp{
    background-color: #0a0a23;
    display: flex;
    color: white;
    justify-content: space-between;
}

.boton1 {
    color: white;
    border: 1px solid white;
    padding: 1px;
    text-decoration: none;
}

#mundo{
    border-color: white;
}

#divp{
    background-color: white;
}


.divp {

    padding-left: 200px;
    font-family: sans-serif;
    font-size: 2em;
    margin: 0.67em 0;
    text-align: left;

    
}

#logos{
    height: 60px;
    width: 750px;
    padding-left: 300px;
}

#boton1{
    border-radius: 5px;
    font-size: 25px;
    width: 500px;
    height: 50px;
    background: linear-gradient(180deg, rgb(255, 221, 0), orange);  
    border: 2px solid orange;  
    cursor: pointer;
}
#botoncent{
    padding-left: 500px;
}

body{
    background-color: #f3f3fa;
}

#img1{
    padding-left: 250px;
}

.par{
    font-family: sans-serif;
    text-align: center;
}

#img2{
    width: 1500px;
    height: 400px;
}

#alumni{
    font-family: sans-serif;
    text-align: center;
    font-size: 40px;
}