/*

#app1 {
    border:double red;
    margin: 30px;
    padding: 30px;
}

#app1Boton {
    background-color: white;
    color: red;
    border:double red;
}

#app1Boton:hover{
    background-color: black;
    color:white
}

div {
    padding: 5px;
}

.divprueba {
    border: double red;
    width: 90px;
    height: 40px;
}
*/