header {
    background-color: aqua;
    text-align: center;
}

main {
    background-color: aquamarine;
}

main h3 {
    text-align: center;
}

aside {
    background-color: bisque;
}

aside h3 {
    text-align: center;
}

footer {
    background-color: burlywood;
}

footer p {
    text-align: center;
}


#mp1 {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

#mp2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 200px;
}

#mp3 {
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-gap: 1rem;
}

#mp3 header {
    grid-column: 1/-1;
}

#mp3 footer {
    grid-column: 1/-1;
}

#mp4 {
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-areas: "h h"
                         "m a"
                         "f f";
    gap: 10px;                   
}

#mp4 header {
    grid-area: h;
}

#mp4 main {
    grid-area: m;
}

#mp4 aside {
    grid-area: a;
}

#mp4 footer {
    grid-area: f;
}