#top_pagina {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#input_search {
    width: 275px;
    height: 30px;
}

#language_button {
    width: 40px;
    height: 39.5px;
}

#menu_button {
    width: 70px;
    height: 40px;
}

#sign_up_button {
    width: 70px;
    height: 40px;
}

#cuerpo_pagina h1, h3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#apple-logo {
    width: 30.76px;
    height: 40px;
}

#google-logo {
    width: 79px;
    height: 40px;
}

#microsoft-logo {
    width: 118.76px;
    height: 40px;
}

#spotify-logo {
    width: 106.76px;
    height: 40px;
}

#amazon-logo {
    width: 114.4px;
    height: 40px;
}

#logos {
    margin: 10px 260px;
    display: flex;
    justify-content: space-around;
}

#get_started_section {
    display: flex;
    align-items: center;
    justify-content: center;
}

#get_started_button {
    margin: 40px;
    width: 500px;
    height: 48.23px;
    font-size: 23px;
}

#freeCodeCamp_Seul {
    display: flex;
    align-items: center;
    justify-content: center;
}

#south_korea_students > h1, #featured_logos {
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#alumni_section > h1 {
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.alumni {
    margin: 30px 100px;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info_alumni h2, h4 {
    margin: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#certificaciones h1 {
    margin: 5px;
    font-size: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lista_certificaciones {
    display: grid;
    justify-content: center;
}

.opciones_certificaciones {
    border: 3.5px solid black;
    margin: 10px;
    width: 1000px;
    height: 70px;
    font-size: 18px;
    text-align: left;
}

#preguntas_frecuentes {
    display: block;
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 1px;
    text-align: left;
}

#preguntas_frecuentes h1 {
    font-size: 40px;
}

#preguntas_frecuentes p {
    font-size: 20px;
}

footer {
    display: flex;
    align-items: left;
    margin-left: 100px;
    margin-right: 100px;
}

#article_donaciones {
    display: fixed;
    align-items: left;
    width: 800px;
    margin-right: 25px;
}

#article_donaciones div {
    margin: 50px;
    font-size: 20px;
}

#trending_guides div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    width: 550px;
    height: 80px;
    margin-left: 40px;
}

#trending_guides h2 {
    text-align: center;
}

#trending_guides p {
    margin: 2px;
}

#footer_2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}