/* css par ainput tipo text */
*{
    font-family: sans-serif;
}


input[type="text"]{
    padding: 8px;
    border: none;
    border-bottom: 3px solid gray;
}

.row{
    margin-bottom: 5px;
}

.btn {
    padding: 5px 30px;
}

#botones_res {
    display: flex;
    flex-direction: row;
}