header {
    border: 5px solid black;
    margin-top: 1em;
}

#header_1 img {
    float: right;
}

.clearflix::after{
    content: "";
    clear: both;
    display: table;
}

#header_2 img{
    float: left;
}

.azul {
    background-color: blue;
}

.rosa {
    background-color: pink;
}

.verde {
    background-color: green;
}

.oro {
    background-color: gold;
}

.cafe {
    background-color: brown;
}

.gris {
    background-color: gray;
}

#header_3 article{
    float: left;
    width: 16.6666%;
}

#header_4 {
    display: flex;
}

#header_5 {
    display: flex;
    flex-direction: column-reverse;
}

#header_6{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#header_6 #a2 {
    width: 70%;
}

#header_6 #a4 {
    width: 40%;
}

#header_6 #a6 {
    width: 80%;
}

#header_7 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 400px;
}

#header_7 #a1 {
    height: 100px;
}

#header_7 #a3 {
    height: 300px;
}

#header_7 #a5 {
    height: 100px;
}

#header_8 {
    display: flex;
    height: 400px;
    flex-flow: column-reverse wrap;
}

#header_8 article {
    height: 200px;
}

#header_9 {
    display: flex;
    justify-content: space-evenly;
}

#header_10 {
    display: flex;
    justify-content: flex-end;
}

#header_11 {
    display: flex;
    height: 250px;
    flex-direction: column;
    justify-content: space-between;
}

#header_12 {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    justify-content: space-around;
    align-content: space-around;
}

#header_12 article {
    width: 30%;
}

#header_13 {
    display: flex;
    justify-content: space-around;
}

#header_13 #a1 {
    order: 2;
}

#header_13 #a2 {
    order: 1;
}

#header_13 #a3 {
    order: 4;
}

#header_13 #a4 {
    order: 3;
}

#header_13 #a5 {
    order: 6;
}

#header_13 #a6 {
    order: 5;
}