body {
    background-color: rgba(255, 255, 255, 0);
    color: rgb(4, 15, 26);
}

* {
    box-sizing: border-box;
}

#header1 {
    display: flex;
    flex-direction: row;
    padding: 1.5vh;
}

#header1 {
    height: 8vh;
    border:1px solid black;
    background-color: rgb(16, 14, 45);
}

#header1 #ais-SearchBox-input{
    width: 35%;
}

#header1 #freecodelogo {
    padding: 0vh 5vh 0vh 5vh;
}

#header1 #headerdiv {
    display:flex;
    width:45%;
    justify-content: flex-end;
}

#header1 #freecodelogo {
    display:flex;
    width:20%;
}

#nav1 button:hover{
    background-color: whitesmoke;
    color: black;
} 

#header1 #p1 {
    color: aliceblue;
}

#header1 #sign_in{
    background-color: rgb(216, 177, 59);
}

#row {
/*     background-color: red; */
    display: flex;
    flex-direction: column;
    padding-left: 30vh;
    padding-right: 30vh;
    padding-top: 10vh;
}

#intro {
    font-family: Arial, Helvetica, sans-serif;
    font-size:x-large;
}

#segundo {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size:large;
}

#logos {
    display: flex;
    gap: 10vh;
}

#logos svg {
    width: 30vh;
    height: 30vh;
}

#logos {
    background-color: brown;
    display: flex;
    flex-direction: row;
}


.logo-row svg {
    width: 18vh;
}

#apple-logo{
    width: 7vh;
}

.logo-row {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
}

.spacer {
    padding: 3vh;
}

#boton_get {
    background-color: ble;
    width: 10vh;
}

#ass_seen {
    text-align:center;
    background-color: rgba(35, 38, 74, 0.674);
    padding: 5vh 40vh;
}

#ass_seen p{
    padding-bottom: 5vh;
    display: block;
    font-size: 1cm;
}