/*
#mp1 article h2 {
    background-color: blue ;
}
 */
#mp1 article .encabezado {
    background-color: red ;
}

#mp1 aside {
    background-color: gray;
    border: 10px solid black;
    /* relleno 4 lados */
    padding: 10px;
/* relleno 10 superior e inferior, rellono 20 de izqiuerda y derecha */
    padding: 10px 20px;
/* relleno 10 arriba, 20 a los lados y 30 abajo */
    padding: 10px 20px 30px;
    /* 4 lados, arriba,derecha, abajo, izquierda */
    padding: 10px 20px 30px 40px;

    margin: 0px;

    margin: 50px 5px;

}

#mp1 .s1 {
    background-color: gold;
    width: 200px;
    height: 200px;
    padding: 20px;
    border: 5px solid black;
}


#mp1 .s2 {
    background-color: rgb(218, 112, 130);
    width: 200px;
    height: 200px;
    padding: 20px;
    border: 5px solid black;
    box-sizing: border-box;
}

#mp1 .s3 .a1 {
    background-color: navy;
}
#mp1 .s3 .a2 {
    background-color: red;
    width: 100px;
    height: 100px ;
    box-sizing: border-box;
}

#mp1 .s3 .a3 {
    background-color: green;
}

#mp1 .s3 article {
    display: inline-block;
}


#mp1 .s3 span {
    background-color: violet;
    display: inline-block;
    width: 80px;
    height: 40px;
}

#mp1    .s3 strong {
    background-color: yellowgreen;
    display: inline-block;
    width: 100px;
    height: 50px;
}

#mp1 .menu a {
    display: block;
}