#header-main {
    background-color: #0a0a23;
}

.boton1 {
    color: white;
    border: 1px solid ;
    
}

#header13 {
    display: flex;
}


#header1 {
    border: 5px solid black;
    margin-top: 1em;
}




