#header1 {
    background-color: #0a0a23;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:  50px;
}

.color {
    background-color: #0a0a23;
}

#p1 {
    color: white;
}

.boton {
    border: solid white;
    background-color: #0a0a23 ;
    color: white;
}

.boton:hover {
    border: solid white;
    background-color: white;
    color: #0a0a23;
}

.boton-certificacion{
    border: solid white;
    background-color: #3b3b4f ;
    color: white;
    display: flex;
    margin: 10px;
    width: 1000px;
}

.boton-certificacion:hover{
    border: solid white;
    background-color: white;
    color: #3b3b4f;
}

.boton2 {
    border: solid #ffb439;
    background-color: #ffb439;
}

.boton2:hover {
    border: solid #ffb439;
    background-color: #e0ae5d;
}

main {
    background-color: #1b1b32;
    color: white;
    margin: 200px;
}

.centro {
    text-align: centro;
    display: flex;
    justify-content: center;
}

.div {
    display: block;
    text-align: center;

}

body {
    background-color: #1b1b32;
}

#seccion1 {
    display: flex;
    justify-content: space-evenly;
}

#seccion2 {
    display: flex;
    justify-content: center;
}

#boton3 {
    border: rgb(183, 120, 5);
    background-color: #ffc648;
    padding: 10px 150px;
}

#boton3:hover {
    border: rgb(183, 120, 5);
    background-color: #eebd51;
}

main#marcas {
    background-color: gray;
}

div {
    margin: 20px;
}

div#marcas {
    background-color: #3b3b4f;
}

#personas {
    display: grid;
    grid-template-columns: 1fr 4fr;
    justify-content: center;
}

.info {
    background-color: #0a0a23;
    text-align:center;
}

#seccion3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

aside {
    color: white;
    margin: 200px;
}

footer {
    background-color: #2a2a40;
    color: gray;
}

footer{
    display: grid;
    grid-template-columns: 4fr 2fr 2fr 2fr;
    grid-template-areas:"p1 p2"
                        "p1 p3 p4 p5";
    gap: 10px;
} 

footer #parte1 {
    grid-area: p1;
}

footer #parte2 {
    grid-area: p2;
}

footer #parte3 {
    grid-area: p3;
}

footer #parte4 {
    grid-area: p4;
}

footer #parte5 {
    grid-area: p5;
}


