#mp1 p::first-letter {
    font-size: 100px;

}

#mp1 p::first-line {
    background-color: green;
    color: black

}


#mp1 h2 {
    background-color: tomato;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
}

#mp1 h2:hover {
    background-color: black;
    color: tomato;
    border: 2px solid black;
}

#mp1 ul li:first-child {
    border-top: 2px double rebeccapurple;
}


#mp1 ul li:last-child {
    border-bottom: 4px solid rgb(6, 94, 102);
}

#mp1 ul li:nth-child(3){
    background-color: blue;
    color: white
}

.formato-lista-1 li:nth-child(odd){
    background-color: blue;
    color: white    
}

.formato-lista-1 li:nth-child(even){
    background-color: gray;
    color: black    
}

.formato-lista-2 li:nth-child(4n){
    background-color: tomato;
}